{{ if eq .osid "darwin" -}}
#!/bin/bash

set -eufo pipefail

echo "macOS Detected"

if xcode-select -p &>/dev/null; then
    echo "Xcode already installed"
else
    echo "Installing commandline tools..."
    xcode-select --install
fi

{{- if not (lookPath "brew") }}
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
{{- end }}

brew analytics off 
brew tap FelixKratz/formulae
{{ $brews := list
    "bat"
    "borders"
    "curl"
    "eza"
    "fastfetch"
    "fd"
    "ffmpeg"
    "fzf"
    "git"
    "jq"
    "lua"
    "nowplaying-cli"
    "ripgrep"
    "sketchybar"
    "switchaudio-osx"
    "tmux"
    "wget"
    "yt-dlp" -}}

{{ $casks := list
    "nikitabobko/tap/aerospace"
    "sf-symbols"
    "font-sf-mono"
    "font-sf-pro" -}}

{{- end }}

