[user]
    name = NekoShinobi
    email = {{ .email }}
    signingkey = E3A44145FA5558DF

[includeIf "gitdir:~/work/"]
    path = ~/.config/git/work/config

[commit]
    gpgsign = True

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
