.oh-my-zsh/cache/**
.oh-my-zsh/templates/**

.config/secrets.env
.config/nvm

{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
.config/aerospace
.config/sketchybar
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
{{ end }}

{{ if ne .chezmoi.os "windows" }}
.config/yasb
.config/glzr
{{ end }}

{{ if eq .chezmoi.os "windows" }}
.zshrc
.config/ghostty
.config/git
.config/tmux
{{ end }}

