.oh-my-zsh/cache/**
.oh-my-zsh/templates/**

.config/secrets.env
.config/nvm

{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
.config/aerospace
.config/sketchybar
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
.config/xdg-desktop-portal
.config/wleave
.config/waybar
.config/hypr
.config/swaync
.local/
{{ end }}

{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
.config/yasb
.config/glzr
Documents/**
{{ end }}

{{ if eq .chezmoi.os "windows" }}
.zshrc
.config/ghostty
.config/git
.config/tmux
{{ end }}
