# mostly following the listed docs to avoid relying on something that isn't documented for now.


# Customization Tools
winget install starship
winget install wez.wezterm
winget install fastfetch
winget install --id AmN.yasb
winget install GlazeWM
winget install RamenSoftware.Windhawk
winget install "Flow Launcher"
winget install --id=Discord.Discord -e
winget install -e --id Microsoft.PowerToys --source winget
winget install wintoys

# Applications
winget install -e --source winget --id ShareX.ShareX
winget install -e --source winget --id flux.flux
winget install -e --source winget --id Bitwarden.Bitwarden



