{{- if eq .osid "linux-endeavouros" -}}

{{ $pacpack := list
    "dolphin"
    "hyprcursor"
    "hyprland"
    "hyprsunset"
    "hyprpicker"
    "libnewt"
    "swaync"
    "uwsm"
    "waybar"
    "xdg-desktop-portal-hyprland"
    "xdg-desktop-portal-gtk" -}}

{{ $yaypack := list
    "clipse"
    "walker"
    "elephant-desktopapplications"
    "elephant-files"
    "elephant-clipboard"
    "elephant-calc"
    "grimblast-git"
    "hyprlock"
    "hyprpolkitagent"
    "matugen-bin"
    "neohtop-bin"
    "sddm-git"
    "sddm-silent-theme"
    "wezterm-nightly-bin"
    "wleave-git"
    "zsh" -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail


{{ $sudo }}pacman -Sy --needed {{ $pacpack | join " " }}

yay -Sy --needed {{ $yaypack | join " " }}

elephant service enable

# Install SDDM Theme




{{ end -}}