{{ if and (eq .chezmoi.os "linux") -}}

{{ $packages := list
    "bat"
    "git"
    "ripgrep"
    "tldr"
    "yazi"
    "zsh" -}}

{{ if eq .osid "linux-ubuntu" -}}
{{   $packages  = mustAppend $packages "fd-find" -}}
{{ end -}}

{{ if eq .osid "linux-arch" -}}
{{   $packages = mustAppend $packages "fd" -}}
{{   $packages = mustAppend $packages "github-cli" -}}
{{   $packages = mustAppend $packages "fastfetch" -}}
{{ end -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

{{ if eq .osid "linux-ubuntu" -}}
{{ $sudo }}apt-get update
{{ $sudo }}apt-get install -y {{ $packages | join " " }}
{{ end -}}

{{ if or (eq .osid "linux-arch") (eq .osid "linux-endeavouros") -}}
{{ $sudo }}pacman -Sy --needed {{ $packages | join " " }}
{{ end -}}


{{ end -}}
