@import "colors.css";
@define-color text            @on_surface_variant;
@define-color background-alt  alpha(@surface, .4);
@define-color selected        @primary;
@define-color hover           alpha(@secondary, .4);
@define-color urgent          @error;


window {
    font-family: "JetBrainsMono Nerd Font";
    background-color: rgba(24, 27, 32, 0.8);
} 

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    background-color: transparent;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s ease-in;
    box-shadow: 0 0 10px 2px transparent;
    border-radius: 36px;
    margin: 10px;
    color:  var(--view-fg-color); /* text */
}

button label.action-name {
    font-size: 20pt;
    color: @text;
}

button:hover label.action-name {
    font-size: 26pt;
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.5s ease-in;
    color: @shadow;
}

button:focus {
    box-shadow: none;
    background-size : 20%;
}

button:hover {
    color: var(--view-hover-color);
    font-size: 24pt;
    background-size: 50%;
    box-shadow: 0 0 10px 3px rgba(0,0,0,.4);
    background-color: @on_tertiary_fixed_variant;
    transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.5s ease-in;
}


button#lock {
    --view-fg-color: @primary;
    --view-hover-color: @on_primary_container;
}

button#logout {
    --view-fg-color: @secondary;
    --view-hover-color: @on_secondary_container;
}
button#reboot {
    --view-fg-color: @tertiary;
    --view-hover-color: @on_tertiary_container;
}

button#shutdown {
    --view-fg-color: @error;
    --view-hover-color: @on_error_container;
}


button#suspend {
    --view-fg-color: #caaff9;
}
button#suspend:hover {
    --view-fg-color: #caaff9;
}

button#hibernate {
    --view-fg-color: #a8c0ff;
}
button#hibernate:hover {
    --view-fg-color: #a8c0ff;
}